body{
  /* background-color:  #59253A; */
  font-family: "ALK Life", sans-serif;
  margin: 0px;
  padding: 0px
  
  /* background-image: linear-gradient(to bottom, rgba(266, 173, 181, 0.2), rgba(266, 173, 181, 0.7)); */
}

.App{
}
/* 
body{
  background-color: 
} */

/* #16FFBD, #12C998,#439F76, #C34271,#F270A1*/