body{
  /* background-color:  #59253A; */
  background-image:url('./assets/anime-manga-anime-girls-computer-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 50%;
  background-color: rgb(226, 218, 219);
  /* background-image: linear-gradient(to bottom, rgba(266, 173, 181, 0.2), rgba(266, 173, 181, 0.7)); */
}
/* 
body{
  background-color: 
} */

/* #16FFBD, #12C998,#439F76, #C34271,#F270A1*/